<div class="container">
  <h1>Sleep Calculator</h1>
  <form
    class="container"
    [formGroup]="formGroup"
    (ngSubmit)="formGroup.valid && handleSubmit(formGroup.value)"
  >
    <div class="grid">
      <p>Age</p>
      <input type="number" formControlName="age" required />
      <p>Bedtime</p>
      <input type="time" formControlName="bedtime" required />
      <p>Wake up time</p>
      <input type="time" formControlName="wakeUpTime" required />
    </div>
    <button type="submit">Calculate</button>
  </form>
  <div class="results" *ngIf="isFalseAge">
    <span>{{ idealSleepTime }}</span>
  </div>
  <div class="results" *ngIf="isMsg">
    <p>Total sleep time: {{ totalSleepTime }} hours</p>
    <p>Recommended sleep time: {{ idealSleepTime }} hours</p>
    <span>{{ getMessage(totalSleepTime, idealSleepTime) }}</span>
  </div>
</div>
